/build/
/out/
cmake-build-*/
compile_commands.json
CMakeUserPresets.json
Testing/

/.vs/
/.vscode/
/.idea/
/.cache/

*.user
*.suo
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.a
*.lib
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
